.amatic-sc-regular {
font-family: "Amatic SC", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing: 3px;
}

.amatic-sc-bold {
font-family: "Amatic SC", sans-serif;
font-weight: 700;
font-style: normal;
letter-spacing: 3px;
}  

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background-color: black;
}

main {
    margin-left: 25vw;
}

#homepage-img-container {
    width: 100%;
    height: 100vh;
}

#homepage-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#flexbox-header {
    width: 25vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    top: 0;
    left: 0;
    background-color: rgb(142, 98, 217);
    position: fixed;
}

p {
    font-family: 'impact';
    color: white;
}

#nav-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px;
    text-align: center;
}

.nav-link {
    font-family: 'Amatic SC';
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px;
}

#member-grid {
    display: grid;
    width: 48.5%;
    height: 100%;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding-top: 10px;
}

.member-img {
    object-fit: contain;
    width: 100%;
    height: 50vh;
}

#member-grid-flex-container {
    display: flex;
    justify-content: center;
}

#kol-logo {

}
