.amatic-sc-regular {
font-family: "Amatic SC", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing: 3px;
}

.amatic-sc-bold {
font-family: "Amatic SC", sans-serif;
font-weight: 700;
font-style: normal;
letter-spacing: 3px;
}  

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

main {
    position: absolute;
    left: 25vw;
    width: calc(100% - 25vw);
    height: 100%;
}

.emoji-container {
    display: none;   
}

#homepage-img-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#homepage-img-container > p {
    display: none;
}

#homepage-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#flexbox-header {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgb(142, 98, 217);
    position: fixed;
}

p {
    font-family: 'impact';
    color: white;
}

#nav-bar {
    margin-top: -20%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15% 20% 20% 20%;
}

.nav-link {
    font-size: 4rem;
}

#header-img {
    width: 100%;
    height: 100%;
}

#member-grid-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#member-grid {
    display: grid;
    width: 48%;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding: 10px 0;
}

.img-wrapper {
    /*We need to give the wrapper a relative position since we will be using absolute position to place things on top of that image.*/
    position: relative;
    /*When we hover over the image, we want that image to zoom, but it will probably overflow out of the container. We do this to hide it.*/
    overflow: hidden;
}

.img-wrapper > .content {
    position: absolute;
    /*Sets the top left and right properties to 0 which fills our entire container*/
    inset: 0;
    font-size: 1.5rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    /*center the text horizontally then vertically*/
    justify-content: center;
    align-items: center;
}

.member-img {
    display: block;
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: 50vh;
    object-position: center;
}

/*Both of these are targeted because we want the transition timing to be the same on both.*/
.img-wrapper > .content, .member-img {
    transition: 300ms ease-in-out;
}

/*Not hovering*/
.img-wrapper > .content.fade {
    opacity: 0;
}

.img-wrapper:hover > .content.fade {
    opacity: 1;
}

.img-wrapper:hover > .member-img.blur {
    filter: blur(5px);
}

/*Transfrom the image size by 10% to give a zoom when hovering it.*/
.img-wrapper:hover > .member-img.zoom {
    transform: scale(1.1);
}

.img-wrapper > .content.slide-down {
    transform: translateY(-100%);
}

.img-wrapper:hover > .content.slide-down {
    transform: translateY(0%);
}

.img-wrapper > .content.slide-up {
    transform: translateY(100%);
}

.img-wrapper:hover > .content.slide-up {
    transform: translateY(0%);
}

.img-wrapper > .content.slide-left {
    transform: translateX(-100%);
}

.img-wrapper:hover > .content.slide-left {
    transform: translateX(0%);
}

.img-wrapper > .content.slide-right {
    transform: translateX(100%);
}

.img-wrapper:hover > .content.slide-right {
    transform: translateX(0%);
}

.video-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

@media (min-width: 2000px) and (max-width: 2800px){
    #member-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 1000px) and (max-width: 2000px){
    #member-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 5px;
        padding: 5px 0;
    }

    .member-img {
        object-fit: fill;
    }

    #nav-bar {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .nav-link{
        font-size: 2.5rem;
    }
}

@media (max-width: 1000px) {

    #member-grid-flex-container {
        scroll-margin-top: 105px;
    }

    #member-grid {
        height: 100%;
        padding: 0;
        width: 100%;
    }
    
    main {
        left: 0;
        width: 100%;
        overflow-y: scroll;
    }

    .emoji-container {
        position: absolute;
        display: flex;
        top: 20%;
        width: 100%;
        justify-content: space-evenly;
    }
    
    .emoji {
        height: 3em;
        width: 3em;
    }

    #homepage-img-container {
        padding: 0;
        height: 100%;
        scroll-margin-top: 270px;
        display: flex;
        justify-content: center;
    }

    #homepage-img-container > p {
        display: flex;
        position: absolute;
        bottom: 5%;
        width: 90%;
        height: 20%;
        font-size: 2rem;
        border: 4px dotted rgb(142, 98, 217);
        align-items: center;
        justify-content: center;
    }

    #homepage-img {
        object-fit: scale-down;
    }

    #flexbox-header {
        width: 100%;
        height: 10%;
        flex-direction: row;
        z-index: 999;
        justify-content: space-between;
    }

    #header-img {
        justify-self: start;
    }

    #nav-bar {
        grid-template-columns: repeat(3, 100px);
        align-content: space-evenly;
        margin: 0;
        padding: 5px 0 5px 0;
    }

    .nav-link {
        font-size: 1.1rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        justify-self: center;
    }


    #video {
        width: 100%;
    }

}
